#page #top-content {
  font-size: 26px;
  font-weight: normal;
  font-style: italic;
  font-family: Georgia,Serif;
  color: #c46c82;
  background-color: #e3d576;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

